:root {
  --background-color: #fcf8f1;
  --black: #030e03;
  --dark-green: #2a6026;
  --light-green: #43a33b;
  --white: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--black);
  margin: 0;
}

main {
  margin: 0rem 8rem;
}

.hero {
  margin-top: 10rem;
}

/* --------------- TEXT ----------------- */

.green-text {
  color: var(--light-green);
}

p {
  width: 55ch;
  font-size: 0.875rem;

}

.hero-text {
  font-size: 1rem;
}

.page-intro {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
  margin-top: 2.625rem;
  margin-bottom: 0rem;
}

h4 {
  font-size: 1.125rem;
  margin-bottom: 0rem;
}

#wave {
  filter: drop-shadow(0rem -0.75rem 1.56rem rgba(183, 155, 123, 0.09));
  overflow: hidden;
  margin-top: -29rem;
  position: absolute;
  z-index: -1;
}

/* .icon {
  width: 80%;
} */

.icon:hover {
  fill: var(--black);
}

/* --------------- BUTTONS ----------------- */

.button-filled {
  background-color: var(--light-green);
  border-radius: 1.25rem;
  color: var(--white);
  border: none;
  font-size: 1.25rem;
  padding: 1rem 2.2rem;
  margin-right: 2.6rem;
  margin-top: 3.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-filled:hover {
  background-color: var(--dark-green);
}

.button-outline {
  background-color: var(--background-color);
  border-radius: 1.25rem;
  color: var(--light-green);
  border: none;
  font-size: 1.25rem;
  padding: 1rem 1.75rem;
  box-shadow: inset 0 0 0 0.1875rem var(--light-green);
  margin-top: 3.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-outline:hover {
  background-color: rgba(67, 163, 59, 0.2);
}

.text-back{
  color: var(--dark-green);
  font-size: 0.875rem;
  cursor: pointer;
  transition: color 0.2s ease;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
}

.text-back:hover{
  color: var(--black);
}

.btn-back {
  margin-top: 2rem;
}

/* --------------- RADIO-BUTTONS ----------------- */

.radio-group input[type="radio"] {
  display: none;
}

.radio-group {
  margin-top: 2.625rem;
}

.btn-choices {
  background-color: var(--background-color);
  color: var(--dark-green);
  border: none;
  border-radius: 0.625rem;
  box-shadow: inset 0 0 0 0.125rem var(--dark-green);
  padding: 0.8125rem 1.3125rem;
  margin-right: 2.625rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-choices:hover{
  background-color: rgba(67, 163, 59, 0.2);
}

input[type="radio"]:checked + .btn-choices{
  background-color: var(--dark-green);
  color: var(--white);
}

/* .btn-choices:focus{
  background-color: var(--dark-green);
  color: var(--white);
  
} */
/* --------------- NAVBAR ----------------- */
.navbar {
  box-shadow: 0rem 1.25rem 1.69rem 0rem rgba(183, 155, 123, 0.07);
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0rem 8rem;
  align-items: center;
  height: 6rem;
}

.nav-flex {
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 50%;
  text-wrap: nowrap;
}

li {
  font-size: 0.875rem;
}

li a:link {
  color: var(--black);
}

li a:visited {
  color: var(--black);
}

li a:hover {
  color: var(--dark-green);
}

h2 a:link {
  color: var(--black);
}

h2 a:visited {
  color: var(--black);
}

/* --------------- LINKS ----------------- */
a {
  text-decoration: none;
}

/* --------------- FONTS ----------------- */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
