<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eCOmpass</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container navbar">
      <nav>
        <h2><a href="index.html" class="poppins-black">eCOmpass</a></h2>
        <ul class="nav-flex">
          <li><a href="research.html" class="poppins-semibold">The underlying research</a></li>
          <li><a href="about.html" class="poppins-semibold">About the system</a></li>
        </ul>
      </nav>
    </div>
    <div class="btn-back">
      <a href="analysis.html" class="text-back poppins-semibold">
        <svg class="icon" width="23" height="17" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M22.81 8.519a1.255 1.255 0 0 1-1.255 1.254H4.51l4.55 4.55a1.254 1.254 0 0 1-1.773 1.773L.596 9.406a1.255 1.255 0 0 1 0-1.774l6.69-6.69A1.255 1.255 0 0 1 9.06 2.713l-4.55 4.55h17.045A1.255 1.255 0 0 1 22.81 8.52Z"
          />
        </svg>
        Go back
      </a>
    </div>
    <main>
      <h3 class="poppins-black">Evaluate</h3>
      <p class="page-intro poppins-regular">Evaluate is for when you already have a list of possible store locations and want the tool to choose the best among them.</p>
      <h4 class="poppins-bold">Upload data</h4>
      <p class="poppins-regular">Upload a CSV file contatining location data.</p>
      <p class="poppins-regular">
        In the CSV file, existing facility locations should be marked 1, and possible locations should be marked 0. You can download an example file
        <a class="poppins-bold green-text" href="../examples/evaluate_example_file.csv" download> here.</a>
      </p>
      <p class="poppins-regular">Please choose whether you want to provide locations with adresses or coordinates.</p>

      <form id="form2" method="POST" action="action_page.php">
        <div class="radio-group2">
          <input type="radio" id="btn-choice6" name="btn-choices3" value="Adresses" />
          <label for="btn-choice6" class="btn-choices poppins-semibold">Adresses</label>
          <input type="radio" id="btn-choice7" name="btn-choices3" value="Coordinates" />
          <label for="btn-choice7" class="btn-choices poppins-semibold">Coordinates</label>
        </div>

        <div class="btn-custom-container" style="display: none">
          <label for="file-upload" id="btn-custom-file" class="btn-custom-file poppins-semibold"> Upload file </label>
          <input id="file-upload" accept=".csv" type="file" />
        </div>

        <h4 class="poppins-bold">Number of facilities</h4>
        <p class="poppins-regular">Choose the number of facilities you want to locate amongst the possible ones (max: 100).</p>
        <p class="poppins-regular">If you only want to analyze your existing locations, input 0.</p>
        <input id="number-input1" name="number-input1" class="number-input1" />
        <div id="alertMessage" class="alert hidden poppins-regular"></div>
        <input type="submit" value="Next Step" class="btn-submit poppins-semibold" />
      </form>
    </main>
    <svg id="wave" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 691.98">
      <path d="M1440 6.71c-199.75 168.21-397.35 370.2-475.74 430.6C586.15 728.6 342.65 404.89 0 636.47v55.5h1440V6.71Z" style="fill: #fcf8f1" />
    </svg>
    <script src="/evaluate.js"></script>
    <script src="/analysis.js"></script>
  </body>
</html>
