<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="eCompass helps locate facility locations to minimize travel distance and CO₂ emissions." />

    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      rel="stylesheet"
    />

    <title>eCOmpass</title>
  </head>
  <body>
    <div class="container navbar">
      <nav>
        <h2><a href="index.html" class="poppins-black">eCOmpass</a></h2>
        <ul class="nav-flex">
          <li><a href="research.html" class="poppins-semibold">The underlying research</a></li>
          <li><a href="about.html" class="poppins-semibold">About the system</a></li>
        </ul>
      </nav>
    </div>
    <main>
      <section class="hero">
        <h1 class="poppins-black">
          Optimize facility locations. <br />
          Minimize <span class="green-text2">emissions.</span>
        </h1>
        <p class="poppins-semibold hero-text">eCompass helps locate facility locations to minimize travel distance and CO₂ emissions.</p>
        <a href="analysis.html" class="btn-filled poppins-semibold">Run it</a>
        <a href="about.html" class="btn-outline poppins-semibold">Learn more</a>
      </section>
    </main>
    <svg id="wave" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 691.98">
      <path d="M1440 6.71c-199.75 168.21-397.35 370.2-475.74 430.6C586.15 728.6 342.65 404.89 0 636.47v55.5h1440V6.71Z" style="fill: #fcf8f1" />
    </svg>
  </body>
</html>
