<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      rel="stylesheet"
    />

    <title>eCOmpass</title>
  </head>
  <body>
    <div class="container navbar">
      <nav>
        <h2><a href="index.html" class="poppins-black">eCOmpass</a></h2>
        <ul class="nav-flex">
          <li><a href="research.html" class="poppins-semibold">The underlying research</a></li>
          <li><a href="about.html" class="poppins-semibold">Information about the system</a></li>
        </ul>
      </nav>
    </div>
    <main>
      <section class="hero">
        <h1 class="poppins-black">
          Optimize facility locations. <br />
          Minimize <span class="green-text">emissions.</span>
        </h1>
        <p class="poppins-semibold hero-text">eCompass helps locate facility locations to minimize travel distance and CO₂ emissions.</p>
        <a href="analysis.html" class="button-filled poppins-semibold">Try it now</a>
        <button class="button-outline poppins-semibold">Learn more</button>
      </section>
    </main>
    <svg id="wave" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 1117">
      <path d="M1440 162.46V1117H0V792.22c342.65-231.58 586.15 92.13 964.26-199.16 78.39-60.4 275.99-262.39 475.74-430.6Z" style="fill: #fcf8f1" />
      <path d="M1440 162.46V1117H0V792.22c342.65-231.58 586.15 92.13 964.26-199.16 78.39-60.4 275.99-262.39 475.74-430.6Z" style="fill: none; stroke: #fcf8f1; stroke-miterlimit: 10" />
    </svg>
  </body>
</html>
