<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Here you can find information about the research behind eCOmpass." />
    <title>eCOmpass</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="" />
  </head>
  <body>
    <div class="container navbar">
      <nav>
        <h2><a href="index.html" class="poppins-black">eCOmpass</a></h2>
        <ul class="nav-flex">
          <li><a href="research.html" class="poppins-semibold">The underlying research</a></li>
          <li><a href="about.html" class="poppins-semibold">About the system</a></li>
        </ul>
      </nav>
    </div>
    <div class="btn-back">
      <a onclick="history.back()" class="text-back poppins-semibold">
        <svg class="icon" width="23" height="17" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M22.81 8.519a1.255 1.255 0 0 1-1.255 1.254H4.51l4.55 4.55a1.254 1.254 0 0 1-1.773 1.773L.596 9.406a1.255 1.255 0 0 1 0-1.774l6.69-6.69A1.255 1.255 0 0 1 9.06 2.713l-4.55 4.55h17.045A1.255 1.255 0 0 1 22.81 8.52Z"
          />
        </svg>
        Go back
      </a>
    </div>
    <main>
      <h3 class="poppins-black">The underlying research</h3>
      <p class="page-intro poppins-regular">
        eCOmpass is the result of research by Kenneth Carling, Vijay Paidi, and Niklas Rudholm at Dalarna University and the Institute of Retail Economics, who explored how smarter location planning
        for stores and services can reduce CO₂ emissions
      </p>
      <p class="page-intro poppins-regular">
        Their studies showed that placing facilities in the right spots can significantly cut the distance people need to travel, lowering overall emissions. Using real travel data and optimization
        methods, the researchers developed a tool that helps compare existing and potential locations.
      </p>
      <p class="page-intro poppins-regular">
        They tested their approach with real-worldcases, including the growth of IKEA’s store network in Sweden, and found that strategic planning can make a big environmental difference.
      </p>
      <p class="page-intro poppins-regular">
        If you want to read more about the research, you can download the working paper
        <a class="poppins-bold green-text" href="../images/Minimizing travel distance and CO2-emissions when reconfiguring retail store networks-3.pdf" download> here</a>.
      </p>
      <h4 class="poppins-bold">IKEA user case</h4>
      <p class="poppins-regular">
        In the working paper, a case study was conducted using IKEA store locations in Sweden. You can download the store location coordinates below to try out the tool with real-world data.
      </p>
      <div class="link-list">
        <a class="poppins-bold green-text small" href="../examples/IKEA 1958 to 2000 coordinates.csv" download>Locations 1958–2000</a>
        <a class="poppins-bold green-text small" href="../examples/IKEA 1958 to 2010 coordinates.csv" download>Locations 1958–2010</a>
        <a class="poppins-bold green-text small" href="../examples/IKEA 1958 to 2023 coordinates.csv" download>Locations 1958–2023</a>
      </div>
    </main>
    <svg id="wave" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 691.98">
      <path d="M1440 6.71c-199.75 168.21-397.35 370.2-475.74 430.6C586.15 728.6 342.65 404.89 0 636.47v55.5h1440V6.71Z" style="fill: #fcf8f1" />
    </svg>
  </body>
</html>
